.container {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 100;
}

.center {
  position: absolute;
  inset: 0;
  margin: auto;
  display: inline;
  max-width: 400px;
  height: 200px;
  color: #ffffff;
  font-size: 1.7rem;
  text-align: center;
  img {
    margin: 0 auto;
  }
}
